*
{
    font-family: Avenir;
}
.navbar
{
    color: #ffffff;
    background-color:#C2C2BD;
    opacity: 0.2;
}

.nav-link
{
    color: white;
}
.navbar-brand
{
    background-color:#C2C2BD;
    color: white;
}
#footer
{
    position: absolute;
    bottom: 0;
    background-color: #7F7E7F;
    width:100%;
    padding-top:20px;
    height:5px;
}

.acceuil
{
    background: url("images/photoAcceuil.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
}

.logo
{
    margin-left: auto;
    margin-right: auto;
    width:50%;
    background:#FDFCF7;
}

/* Accueil header */

.img_accueil {
    background-image: url("images/photoAcceuil.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    position:relative;
}

.img_accueil h3  {
    color : #ffffff;
    text-align: center;
    bottom:0;
}

.img_accueil h4 {
    color : #ffffff !important;
    text-align: center !important;
    bottom:0;
}

.img_accueil img{
    display: block;
    margin: 0 auto;
    bottom:0;
}
#downarrow
{
    width: 61px;
}

#down_page {
    /* Enlever le "height:" car il ne sert qu'à avoir un apercu lorsqu'il n'y a pas bcp de contenu */
    height: 500px;
    margin: 35px auto;
    padding: 20px;
    box-shadow: 5px 5px 15px 5px #c0c0c0;
}